<template name="deckStudy">
	<div align="center">
		<h1>{{deck.name}}</h1>
		{{#if front}}
			<p>{{front}}</p>
			{{#if showCardBack}}
				<hr/>
				<p>{{back}}</p>
				<p></p>
				<button class="again">Again</button>
				<button class="hard">Hard</button>
				<button class="good">Good</button>
				<button class="easy">Easy</button>
			{{else}}
				<p></p>
				<button class="showAnswer">Show Answer</button>
			{{/if}}
		{{else}}
			<p><b>Congratulations! You're done studying this deck for now.</b></p>
		{{/if}}
	</div>
</template>